{% extends 'base.html' %}

{% block content %}
  <h2>List Productos</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock Actual</th>
        <th>Proveedor</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
        <tr>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.stock_actual }}</td>
          <td>{{ producto.proveedor }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}