<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Proveedores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: black;
            color: white;
        }
        table {
            background-color: black;
            color: white;
            border-color: green;
        }
        th, td {
            border-color: green;
            color:white;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2>Listado de Proveedores</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in proveedores %}
                    <tr>
                        <td>{{ proveedor.nombre }}</td>
                        <td>{{ proveedor.apellido }}</td>
                        <td>{{ proveedor.dni }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
